/* body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
} */

body {
	font-family: 'Lato', sans-serif;
	background-color: #fff !important;
	/* background-color: #f9f9f9 !important; */
	/* font-size: 62.5%; */
	font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 h6,
.h5 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 0;
	/* text-transform: none; */
}

button {
	border-radius: 5px;
}

main {
	min-height: 80vh;
}

nav.bg-dark {
	background-color: black !important;
}

.navbar {
	padding: 0.7rem 0;
}

.nav-link:last-child {
	padding-right: 0 !important;
}

/* NAVBAR ICONS */
.fas {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* STAR RATING */
.rating span > i {
	margin-left: 0;
	margin-right: 0;
}

.rating .rating-text {
	margin-left: 0.4rem;
}

.card {
	background-color: #fff !important;
	border-radius: 0 5px 5px 0 !important;
}

.rounded.card {
	/* box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2) !important; */
	border: 2px solid #f8f8f8;
	padding: 3.5rem 2rem 3rem !important;
	cursor: pointer;
	transition: all 0.4s;
	transform: translate3d(0, 0, 0);
}

.rounded.card:hover {
	transform: translateY(-7px) scale(1.02);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid #f8f8f8;
	/* backface-visibility: hidden; */
}

a .card-img-top {
	height: 15.62rem !important;
}

.card-body {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

a {
	text-decoration: none;
}

.btn-outline-dark:hover {
	background-color: black;
	border-color: black;
}

.btn-group-lg > .btn,
.btn-lg {
	padding: 0.875rem 1.5rem !important;
}
