/* body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
} */

body {
	font-family: 'Roboto', sans-serif;
	/* font-size: 62.5%; */
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	/* letter-spacing: 0.12rem; */
	text-transform: none;
}

button {
	border-radius: 5px;
}

main {
	min-height: 80vh;
}

nav.bg-dark {
	background-color: black !important;
}

.fas {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.navbar {
	padding: 0.7rem 0;
}
